.add-server-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 14px 0px 14px;
}

.add-server-header > .title {
    font-size: x-large;
    opacity: 0.9;
}

.form-control{
    margin: spacing(1);
    flex: 1;
    color: white; /* These are trying to force text color, but they don't work */
}

.select-empty{
    margin-top: spacing(2);
}

.select-item{
    color: white; /* These are trying to force text color, but they don't work */
}